/*****************/
/* Source Sans 3 */
/*****************/
@font-face {
	font-family: "Source Sans 3";
	src:
		local("Source Sans 3"),
		url("/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans 3 Italic";
	src:
		local("Source Sans 3 Italic"),
		url("/fonts/Source_Sans_3/static/SourceSans3-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Source Sans 3 Light";
	src:
		local("Source Sans 3 Light"),
		url("/fonts/Source_Sans_3/static/SourceSans3-Light.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans 3 Bold";
	src:
		local("Source Sans 3 Bold"),
		url("/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans 3 Bold Italic";
	src:
		local("Source Sans 3 Bold Italic"),
		url("/fonts/Source_Sans_3/static/SourceSans3-BoldItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
/***************/
/* Ubuntu Mono */
/***************/
@font-face {
	font-family: "Ubuntu Mono";
	src:
		local("Ubuntu Mono"),
		url("/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu Mono Italic";
	src:
		local("Ubuntu Mono Italic"),
		url("/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Ubuntu Mono Bold";
	src:
		local("Ubuntu Mono Bold"),
		url("/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Ubuntu Mono Bold Italic";
	src:
		local("Ubuntu Mono Bold Italic"),
		url("/fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}
